<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>songs</title>
</head>
<body>
<div class="album">
    <img th:src="${album.imageUrl}">
    <h1 th:text="${album.title}"></h1>
</div>
<hr>
<hr>
<form method="post" action="/addSong">
    The title: <input type="text" name="title">
    The trackNumber: <input type="number" name="trackNumber">
    The length: <input type="number" name="length">
    <button type="submit">Add</button>
</form>
<hr>
<hr>
<div th:each="song:${album.songs}">
    <h1>Songs in the Album</h1>
    The title: <h1 th:text="${song.title}"></h1>
    The length: <h2 th:text="${song.length}"></h2>
    The track Number: <h3 th:text="${song.trackNumber}"></h3>
</div>


</body>
</html>